USE [master]
GO
/****** Object:  Database [IELTS_AI_DB]    Script Date: 4/10/2026 9:17:39 PM ******/
CREATE DATABASE [IELTS_AI_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IELTS_AI_DB', FILENAME = N'C:\Users\long\IELTS_AI_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IELTS_AI_DB_log', FILENAME = N'C:\Users\long\IELTS_AI_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IELTS_AI_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IELTS_AI_DB]
GO
/****** Object:  Table [dbo].[QuizHistory]    Script Date: 4/10/2026 9:17:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Score] [int] NULL,
	[Total] [int] NULL,
	[QuizDetails] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedVocab]    Script Date: 4/10/2026 9:17:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedVocab](
	[VocabID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OriginalSentence] [nvarchar](max) NULL,
	[TargetWord] [nvarchar](100) NULL,
	[AIResponse] [nvarchar](max) NULL,
	[SavedAt] [datetime] NULL,
	[EaseFactor] [float] NULL,
	[IntervalDays] [int] NULL,
	[NextReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VocabID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedWords]    Script Date: 4/10/2026 9:17:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedWords](
	[SavedID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OriginalWord] [nvarchar](100) NOT NULL,
	[AdvancedWord] [nvarchar](100) NOT NULL,
	[ExampleSentence] [nvarchar](max) NULL,
	[SavedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SavedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchHistory]    Script Date: 4/10/2026 9:17:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OriginalSentence] [nvarchar](max) NOT NULL,
	[TargetWord] [nvarchar](100) NOT NULL,
	[SearchTime] [datetime] NULL,
	[AIResponse] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/10/2026 9:17:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuizHistory] ON 

SET IDENTITY_INSERT [dbo].[QuizHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedVocab] ON 

SET IDENTITY_INSERT [dbo].[SavedVocab] OFF
GO
SET IDENTITY_INSERT [dbo].[SearchHistory] ON 

INSERT [dbo].[SearchHistory] ([HistoryID], [UserID], [OriginalSentence], [TargetWord], [SearchTime], [AIResponse]) VALUES (1, 1, N'The building is very big', N'big', CAST(N'2026-03-29T16:29:18.560' AS DateTime), NULL)
INSERT [dbo].[SearchHistory] ([HistoryID], [UserID], [OriginalSentence], [TargetWord], [SearchTime], [AIResponse]) VALUES (2, 1, N'He is very lively.', N'lively', CAST(N'2026-03-29T16:33:31.733' AS DateTime), NULL)
INSERT [dbo].[SearchHistory] ([HistoryID], [UserID], [OriginalSentence], [TargetWord], [SearchTime], [AIResponse]) VALUES (3, 1, N'This class is too noisy', N'noisy', CAST(N'2026-03-30T11:29:16.463' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SearchHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [CreatedAt]) VALUES (1, N'gialong', N'9ca7b8be590113b8f064df9bf715b50bb960cff9d5a6ebfd069d9410eae6650f', CAST(N'2026-03-29T16:12:13.713' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [CreatedAt]) VALUES (4, N'long test', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', CAST(N'2026-03-29T16:14:33.707' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [CreatedAt]) VALUES (5, N'DOCUONG', N'5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5', CAST(N'2026-04-09T20:06:43.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4FAB57F6E]    Script Date: 4/10/2026 9:17:39 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuizHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SavedVocab] ADD  DEFAULT (getdate()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[SavedVocab] ADD  DEFAULT ((2.5)) FOR [EaseFactor]
GO
ALTER TABLE [dbo].[SavedVocab] ADD  DEFAULT ((0)) FOR [IntervalDays]
GO
ALTER TABLE [dbo].[SavedVocab] ADD  DEFAULT (getdate()) FOR [NextReviewDate]
GO
ALTER TABLE [dbo].[SavedWords] ADD  DEFAULT (getdate()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[SearchHistory] ADD  DEFAULT (getdate()) FOR [SearchTime]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SavedVocab]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SavedWords]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SearchHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
USE [master]
GO
